.app__blog-container_article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    box-shadow: 12px 12px 2px 1px ;
}

.app__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.app__blog-container_article-image img {
    width: 100%;
    height: 100%;
}

.app__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.app__blog-container_article-content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: var(--color-text);
}

.app__blog-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}

.app__blog-container_article-content p:last-child {
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .app__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}