.app__contact {
    flex-direction: row; 
    display: flex;
    margin-bottom: 6rem;
    
}
.app__contact-context {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left:2rem;
    padding-right:2rem;
}

.app__contact-context h1 {
    color: var(--color-text);
    margin-bottom: 1.5rem;
}

.app__contact-context p {
    color: var(--color-text);
    line-height: 1.4rem;
}


.app__contact-form {
    flex-direction: column;
    margin: 0 4rem;
    flex: 1.5;
    display: flex;
    padding: 2rem;
    /* ff 3.6+ */
    background:-moz-linear-gradient(137deg, rgba(235, 235, 235, 1) 50%, rgba(238, 68, 33, 1) 98%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(137deg, rgba(235, 235, 235, 1) 50%, rgba(238, 68, 33, 1) 98%);

    /* opera 11.10+ */
    background:-o-linear-gradient(137deg, rgba(235, 235, 235, 1) 50%, rgba(238, 68, 33, 1) 98%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE4421', endColorstr='#EBEBEB', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(137deg, rgba(235, 235, 235, 1) 50%, rgba(238, 68, 33, 1) 98%);

    /* global 94%+ browsers support */
    background:linear-gradient(137deg, rgba(235, 235, 235, 1) 50%, rgba(238, 68, 33, 1) 98%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    box-shadow: 30px 30px;
    
}

.app__contact-form-row {
    display: flex;
    flex-direction: row;
}

.app__contact-form-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.7rem;
}

.app__contact-form-input input, textarea{
    color: var(--color-text-dark);
    width: 100%;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    
}

.app__contact-form-input p{
    color: var(--color-text-dark);
}

.app__contact-form-row button {
    width: 100%;
    margin-top: 1.5rem;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

}


@media screen and (max-width: 768px) {
    .app__contact-form {
        width: 100%;
        margin: 1rem 0;
    }
}



