.app__contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
    margin-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 100%, rgba(255, 72, 32, 1) 0%, rgba(33, 22, 55, 1) 47%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));

    box-shadow: 30px 30px #fff;
}

.app__contact-header {
    width: 60%; 
    text-align: center;
    

}

.app__contact-header h1{
    font-size: 60px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.app__contact-text p {
    color: var(--color-text);
    text-align: center;
    margin-top: 5rem;
}

.app__contact-button button {
    width: 35rem;
    
    margin-top: 2rem;
    min-height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}


@media screen and (max-width: 850px) {
    .app__contact {
        padding-right: 0;
        padding-left: 0;
    }
    .app__contact-button button {
        width: 20rem;

    }
    .app__contact-text p {
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 3rem;
    }

    .app__contact-header h1{
        font-size: 40px;
        line-height: 50px;
    }
    
}

@media screen and (max-width: 650px) {
    .app__contact-button button {
        width: 15rem;

    }

    .app__contact-header h1{
        font-size: 33px;
        line-height: 50px;
    }

    .app__contact {
        margin-left: 2rem;
        margin-right: 2rem;
        box-shadow: none;
    }
    
}

@media screen and (max-width: 350px) {

    .app__contact {
        box-shadow: none; 
       padding-right: 0.7rem;
       padding-left: 0.7rem;
       margin: 0;
       margin-top: 4rem;
    }
    

}