.app__blog {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 2rem;

}
.app__blog button{
    width: 35rem;
    
    margin-top: 3rem;
    min-height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.app__blog-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.app__blog-heading h1 {
    font-size: 40px;
}

.app__blog-container {
    display: flex;
    flex-direction: row;
}

.app__blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.app__blog-container_groupB {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 850px) {
    .app__blog-container {
        flex-direction: column-reverse;
    }


    .app__blog-container_groupA {
        margin: 2rem 0;
        display: none;
    }

    .app__blog-container_groupA .gpt3__blog-container_article  {
       width: 48%;
    }

    .app__blog-container_groupA .gpt3__blog-container_article-image {
        height: 250px;
    }

    .app__blog button {
        margin-top: 2rem;
        width: 20rem;
    }
}

@media screen and (max-width: 650px) {
    .app__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .app__blog-container_groupA .gpt3__blog-container_article  {
       width: 100%;
    }

    .app__blog-heading h1 {
        font-size: 28px;
        line-height: 52px;
    }

    .app__blog button {
        width: 100%;
    }

    .app__blog {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .app__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .app__blog {
        margin: 0;
    }
    
    .app__blog button {
        width: 100%;
        margin-top: 2rem;
    }

}



